*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    margin-bottom: 100px;
}

.logo img{
    width: 50px;
    margin-left: 10px;
}

html{
    background-color: #141C3A;
    scroll-behavior: smooth;
}

.texto{
    color: white;
    margin-right: 40px;
}

h3{
    font-family: Kanit;
    font-size: 15px;
    color: rgb(221, 221, 221);
}

h1{
    font-family: Kanit;
    font-size: 30px;
    text-decoration: underline #09FF90;
}

h2{
    font-family: Kanit;
    font-size: 22px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.foto img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 170px rgb(0, 204, 126);
}

.botton{
    display: flex;
    justify-content: center;
    width: 100%;
}

.botoes{
    display: grid;
    margin-top: 70px;
    width: 60%;
    height: 350px;
}

button{
    margin-top: 40px;
}

#botao1:hover{
    background-color: #09FF90;
    transition: 0.4s;
}

#botao1 a:hover{
    color: #141C3A;
}

#botao2:hover{
    background-color: #09FF90;
    transition: 0.4s;
}

#botao2 a:hover{
    color: #141C3A;
}

#botao3:hover{
    background-color: #09FF90;
    transition: 0.4s;
}

#botao3 a:hover{
    color: #141C3A;
}

#botao4:hover{
    background-color: #09FF90;
    transition: 0.4s;
}

#botao4 a:hover{
    color: #141C3A;
}

#botao1{
    margin-top: 0;
    border-radius: 10px;
    background-color: #141C3A;
    border-color: #09FF90;
    box-shadow: 5px 5px 10px rgba(0, 177, 109, 0.705);
}

#botao2{
    border-radius: 10px;
    background-color: #141C3A;
    border-color: #09FF90;
    box-shadow: 5px 5px 10px rgba(0, 177, 109, 0.705);
}

#botao3{
    border-radius: 10px;
    background-color: #141C3A; 
    border-color: #09FF90;
    box-shadow: 5px 5px 10px  rgba(0, 177, 109, 0.705);
}

#botao4{
    border-radius: 10px;
    background-color: #141C3A; 
    border-color: #09FF90;
    box-shadow: 5px 5px 10px  rgba(0, 177, 109, 0.705);
}

button a{
    text-decoration: none;
    color: #09FF90;
    font-size: 20px;
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Sobremim{
    margin-bottom: 100px;
}

.container{
    display: grid;
}

.imagem{
    width: 100%;
    position: relative;
    display: flex;
}

.imagem img{
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5vw;
}

.titulo{
    margin-left: 6vw;
    margin-bottom: 40px;
}

.titulo h1{
    color: white;
}

.texto2{
    margin-left: 6vw;
    width: 310px;
}

.texto3{
    margin-left: 6vw;
    width: 150px;
}

.texto2 h3{
    word-break: break-word;
}

#Serviços{
    margin-bottom: 100px;
}

.card1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.card2{
    display: flex;
    justify-content: space-evenly;
}

.port1 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    position: relative;
    top: -34px;
    border-radius: 10px;
    
}

.port2 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    position: relative;
    top: -34px;
    border-radius: 10px;
}

.port3 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    position: relative;
    top: -34px;
    border-radius: 10px;
    
}

.port4 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    position: relative;
    top: -34px;
    border-radius: 10px;
}

.port1 h2{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #09FF90;
    border-radius: 10px;
}

.port2 h2{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #09FF90;
    border-radius: 10px;
}

.port3 h2{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #09FF90;
    border-radius: 10px;
}

.port4 h2{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #09FF90;
    border-radius: 10px;
}

#Portfólio{
    margin-bottom: 100px;
}

#Portfólio h2{
    color: #141C3A;
}

.icon{
    display: flex;
}

.icon img{
    display: flex;
    width: 90px;
}

.topicons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.bottonicons{
    display: flex;
    justify-content: space-evenly;
}

.referencia a{
    color: #141C3A;
}

#Contato{
    margin-bottom: 100px;
}

::-webkit-scrollbar{
    width: 15px;
    background-color: #141C3A;
}

::-webkit-scrollbar-thumb{
    background-color: #09FF90;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
}
  @media (min-width: 1450px){
    body{
        margin-left: 4vw;

    }
    .logo img{
        width: 70px;
        position: absolute;
        left: 10px;
      }

    .foto img{
        width: 150px;
        margin-left: 30px
    }

    .texto h1{
        font-size: 60px;
    }

    .texto h2{
        font-size: 30px;
    }

    .texto h3{
        font-size: 20px;
    }

    .titulo{
        margin-bottom: 60px;
    }

    .titulo h1{
        font-size: 40px;
    }

    .top{
        margin-top: 0;
    }


    #principal{
        display: flex;
        margin-left: 6vw;
        margin-bottom: 200px;
    }

    #Sobremim{
        margin-bottom: 200px;
        align-items: center;
    }

    #Serviços{
        margin-bottom: 200px;
    }

    #Portfólio{
        margin-bottom: 200px;
    }

    #Portfólio img{
        width: 250px;
    }

    .botoes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        margin-top: 20px;
        margin-top: 0;
    }

    button{
        width: 200px;
        height: 80px;
    }

    #botao2{
        margin-top: 0;
    }

    #botao3{
        margin-top: 0;
    }

    #botao4{
        margin-top: 0;
    }

    .container{
        display: grid;
    }

    .texto2{
        width: 890px;
    }

    .texto2 h3{
        font-size: 20px;
        width: 100%;
    }

    .texto3{
        width: 800px;
    }

    .texto3 h3{
        font-size: 20px;
        width: 100%;
    }

    .imagem img{
        width: 400px;
        margin-right: 13vw;
    }

    .topicons{
        margin-bottom: 60px
    }
  }

  @media (min-width: 500px) and (max-width: 1500px){
    .imagem img{
        width: 400px;
    }

    .texto2{
        margin-left: 6vw;
        width: 330px;
    }
    
    .texto3{
        margin-left: 6vw;
        width: 310px;
    }

    .container h3{
        font-size: 20px
    }
}

@media (min-width: 500px) and (max-width: 500px){
    .imagem img{
        width: 200px;
    }
}
