*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    margin-bottom: 100px;
}

.logo img{
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

html{
    background-color: #141C3A;
    scroll-behavior: smooth;
}

.texto{
    color: white;
    margin-right: 40px;
}

h3{
    font-family: Kanit;
    font-size: 15px;
    color: rgb(221, 221, 221);
}

h1{
    font-family: Kanit;
    font-size: 30px;
    text-decoration: underline #09FF90
}

h2{
    font-family: Kanit;
    font-size: 22px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.foto img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 170px rgb(0, 204, 126);
}

.botton{
    display: flex;
    justify-content: center;
    width: 100%;
}
.botoes{
    display: grid;
    margin-top: 70px;
    width: 60%;
    height: 350px;
}

button{
    margin-top: 40px;
}

#botao1{
    margin-top: 0;
    border-radius: 10px;
    background-color: #141C3A;
    border-color: #09FF90;
    box-shadow: 5px 5px 10px rgba(0, 177, 109, 0.705);
}

#botao2{
    border-radius: 10px;
    background-color: #141C3A;
    border-color: #09FF90;
    box-shadow: 5px 5px 10px rgba(0, 177, 109, 0.705);
}

#botao3{
    border-radius: 10px;
    background-color: #141C3A; 
    border-color: #09FF90;
    box-shadow: 5px 5px 10px  rgba(0, 177, 109, 0.705);
}

#botao4{
    border-radius: 10px;
    background-color: #141C3A; 
    border-color: #09FF90;
    box-shadow: 5px 5px 10px  rgba(0, 177, 109, 0.705);
}

button a{
    text-decoration: none;
    color: #09FF90;
    font-size: 20px;
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Sobremim{
    margin-bottom: 100px;
}
.titulo{
    margin-left: 6vw;
    margin-bottom: 40px;
}

.titulo h1{
    color: white
}

.texto2{
    margin-left: 6vw;
    width: 300px;
}

.texto2 h3{
    display: flex;
    word-break: break-word;
}

.texto3{
    margin-left: 6vw;
    width: 150px;
}       

.texto3 h3{
    display: flex;
    word-break: break-word;
}

.imagem img{
    width: 195px;
    position: absolute;
    right: 21px;
    top: 890px;

}

#Serviços{
    margin-bottom: 100px;
}

.card1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.card2{
    display: flex;
    justify-content: space-evenly;
}


.port1 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    
}

.port2 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
}


.port3 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
    position: relative;
    top: -34px;
    
}

.port4 img{
    width: 150px;
    box-shadow: 0px 0px 15px rgb(0, 204, 126);
}

.port1 h2{
    display: flex;
    justify-content: center;
    background-color: #09FF90
}

.port2 h2{
    display: flex;
    justify-content: center;
    background-color: #09FF90
}

.port3 h2{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #09FF90
}

.port4 h2{
    display: flex;
    justify-content: center;
    background-color: #09FF90
}

#Portfólio{
    margin-bottom: 100px;
}

#Portfólio h2{
    color: #141C3A
}



.icon{
    display: flex;
}

.icon img{
    display: flex;
    width: 90px;

}

.topicons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.bottonicons{
    display: flex;
    justify-content: space-evenly;
}

.referencia a{
    color: #141C3A;
}
